@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Jacquard+24&display=swap');

/* constant colours */
:root {
    --yellow: #FFCC00;
    --secondary: #464700;
    --white: #ffffff;
    --offwhite: #FAF9F6;
    --pink: #FAF5E6;
    --charcoal: #222;
    --darkgray: #5E5E5E;
}

/* fonts */
/* ---------------------- */
.textgrey {
    color: var(--darkgray);
}

h1 {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    color: var(--yellow);
}

h2 {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--yellow);
}

h3 {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: var(--yellow);
}

h1black {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    color: black;
}

h2black {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: black;
}

h3black {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: black;
}

.changa-one-regular {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changa-one-regular-italic {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* ---------------------- */

* {
  box-sizing: border-box;
  font-family: Work Sans, sans-serif;
    letter-spacing: 1px;
}

body {
  margin: 0;
  font-family: Work Sans, sans-serif;
}

/* HEADER */
/* ----------------------------- */

.header {
    background-color: var(--white);
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;  
}

#header-wrapper {
    min-height: 110px;
    overflow: hidden;
}

#logo-box {
    height: 90px;
    float: left;
    align-content: center;
}

#logo {
    height: 90px;
    width: 90px;
    float: left;
    margin: 10px;
    background-color: var(--yellow);
}

#topnav-box {
    height: 95px;
    align-content: center;
    float: right;
    display: flex;
    margin-right: 15px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
}

/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}

/* Change color on hover */
.topnav a:hover {
  color: var(--yellow);
}

.nav-button {
    align-content: center;
    text-align: center;
    color: white;
    background-color: black;
    border: 3px solid black;
    box-shadow: none;
    padding: 3px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 35px;
    max-height: 45px;
    overflow: hidden;
}

.nav-button:hover {
    color: black;
    background-color: white;
    border: 3px solid black;
}

.yellow-button {
    color: var(--charcoal);
    background-color: var(--yellow);
    border: 3px solid var(--yellow);
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 35px;
    max-height: 45px;
    align-content: center;
    text-align: center;
    bottom: 0;
}

.yellow-button:hover {
    filter: brightness(90%);
}

/* CONTENT */
/* ----------------------------- */
/* content between header and footer */

.content {
  background-color: white;
    padding: 0px;
}

.contentyellow {
    background-color: var(--yellow);
    padding: 0px;
}

.banner {
    width: 100%;
    background-image: url(background.jpg);
    min-height: 400px;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    margin-bottom: 100px;
}

.bannersection {
    height: 377px;
    width: 33%;
    padding: 20px;
    background-color: var(--pink);
    border-radius: 11px;
    margin: 20px;
    position: absolute;
    bottom:-50px;
    left:55px;
    z-index: 9999;
    color: black;
    justify-content: space-between;
    overflow: hidden;
}

.bannersection-right {
    height: 100%;
    position: relative;
    text-align: center;
}

#bannersection-text {
    position: absolute;
    bottom: 10%;
    color: white;
    margin: 10px;
}

#bannersection-text h3 {
    color: white;
}

.card {
    box-shadow: 0 0 3px grey;
    border-radius: 8px;
    width: 320px;
    height: 450px;
    padding: 0px;
    margin: 10px;
    background-color: white;
    justify-content: center;
    align-content: center;
}

#cardfill {
    flex: 1;
}

.cardimage {
    border-radius: 8px 8px 0px 0px;
    height: 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardcontent {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 290px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    margin: 5px;
    padding: 10px;
    align-content: center;
    flex: 50%;
}

.bottom {
    margin: 5px;
    padding: 10px;
    flex: 1;
}


.section1 {
    width: 100%;
    background-color: white;
    padding: 10px;
    position: relative;
    align-content: center;
    text-align: center;
    display: flex;
    direction: row;
}

.section2 {
    width: 100%;
    background-color: var(--yellow);
    min-height: 300px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
    position: relative;
    text-indent: 10px;
}

.list-section {
    width: 100%;
    background-color: white;
    min-height: 300px;
    padding: 10px;
    position: relative;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.list-card {
    box-shadow: 0 0 3px grey;
    border-radius: 8px;
    width: 320px;
    min-width: 320px;
    min-height: 450px
    max-width: 320px;
    max-height: 450px;
    padding: 0px;
    margin: 10px;
    background-color: white;
    justify-content: center;
}

/* FORMS AND BUTTONS */
/* ----------------------------- */

.searchbutton {
    align-content: center;
    text-align: center;
    color: white;
    background-color: black;
    border: 3px solid black;
    box-shadow: none;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 14px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 35px;
    max-height: 45px;
    overflow: hidden;
    margin: 10px;
}

.searchbutton:hover {
    opacity: 0.9;
}

.form-select {
    min-width: 150px;
    padding: 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

#listform-wrapper {
    margin: 30px;
}

/* FOOTER */
/* ----------------------------- */
.footer {
    background-color: var(--charcoal);
    padding: 10px;
    padding-bottom: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.wrapper {
    display: flex;
}

.left {
    flex: 0 0 50%;
    margin: 5px;
    padding: 10px;
    align-content: center;
    text-align: left;
}

.right {
    flex: 1;
    margin: 5px;
    padding: 10px;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    text-align: left;
}

li {
    margin-bottom: 15px;
}

li a {
    color: white;
    text-decoration: none;
}

hr.solid {
  border-top: 1px solid gray;
}

.vl {
  border-left: 1px solid gray;
  height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}



